*
!.dockerignore
!Dockerfile
!LICENSE
!MANIFEST.in
!README.md
!pyproject.toml
!requirements.txt
!setup.cfg
!setup.py
!versioneer.py
!ffsubsync/
!gui/
!resources/
!scripts/
!HISTORY.rst
!.git/
!.git/**
