argparse
auditok==0.1.5
cchardet
ffmpeg-python
future_annotations
numpy>=1.12.0
pysubs2;python_version<'3.7'
pysubs2>=1.2.0;python_version>='3.7'
rich;python_version>='3.6'
six
srt>=3.0.0
tqdm
typing_extensions
webrtcvad;platform_system!='Windows'
webrtcvad-wheels;platform_system=='Windows'
